<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>devHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
  </head>
  <body class="bg-grey-light font-sans">
    <section
      class="h-screen w-screen bg-gray-200 flex flex-col-reverse sm:flex-row min-h-0 min-w-0 overflow-hidden"
    >
      
      <main
        class="sm:h-full flex-1 flex flex-col min-h-0 min-w-0 overflow-auto"
      >
        <nav class="border-b bg-white px-6 py-2 flex items-center min-w-0 h-14">
          <h1 class="font-semibold text-lg"></h1>
          <span
          ><a
            href="/posts"
            class="text-grey-dark hover:no-underline hover:text-green"
            ><i class="fa fa-arrow-left fa-lg mr-2"></i> Back</a
          ></span>
          <span class="flex-1"></span>
        </nav>
        <section class="flex-1 pt-3 md:p-6 lg:mb-0 lg:min-h-0 lg:min-w-0">
          <div class="flex flex-col lg:flex-row h-full w-full">
            <div
              class="border pb-2 lg:pb-0 w-full lg:max-w-sm px-3 flex flex-row lg:flex-col flex-wrap lg:flex-nowrap"
            >
              <!-- control content left -->
              <div class="w-full min-h-0 min-w-0 mb-4">
                <div class="font-sans rounded border px-6 py-4 max-w-md">
                  <div class="flex items-center">
                    <img
                      src="https://user-images.githubusercontent.com/76543451/103982284-0a6f0b00-5138-11eb-872b-0b9e70fc5c25.gif"
                      class="h-12 w-12 rounded-full"
                    />
                    <div class="flex flex-col ml-4">
                      <a class="font-bold text-black" href="#"><%= post.userId %></a>
                      <span class="text-grey"><%= post.userId %></span>
                    </div>
                 
                  </div>
                  <div class="mt-3 mb-1 leading-normal text-lg">
                    <%= post.message %> 
                  </div>
                  <div class="text-grey mb-3 text-sm">
                    <%= post.createdAt %> 
                  </div>
                  <div class="flex text-grey">
                    <div class="flex items-center mr-4">
                      <svg
                        class="mr-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          class="fill-current"
                          d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.045.286.12.403.143.225.385.347.633.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.368-3.43-7.788-7.8-7.79zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.334-.75-.75-.75h-.395c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"
                        />
                      </svg>
                      <span><%= post.comments %></span>
                    </div>
        
                    <div class="flex items-center">
                      <svg
                        class="mr-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          class="fill-current"
                          d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.813-1.148 2.353-2.73 4.644-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.375-7.454 13.11-10.037 13.156H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.035 11.596 8.55 11.658 1.52-.062 8.55-5.917 8.55-11.658 0-2.267-1.822-4.255-3.902-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.015-.03-1.426-2.965-3.955-2.965z"
                        />
                      </svg>
                      <span><%= post.likes %></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" w-full min-h-0 min-w-0 mb-4">
                <!-- comment form -->
<div class="flex mx-auto items-center justify-center shadow-lg mt-25 mx-8 mb-4 max-w-lg">
  <form action="/posts/<%= post.postId %>/comment" method="post" class="w-full max-w-xl bg-white rounded-lg px-4 pt-2">
     <div class="flex flex-wrap -mx-3 mb-6">
        <h2 class="px-4 pt-3 pb-2 text-gray-800 text-lg">Add a new comment</h2>
        <div class="w-full md:w-full px-3 mb-2 mt-2">
           <textarea name="commentText" class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" name="body" placeholder='Type Your Comment' required></textarea>

        </div>
        <div class="w-full md:w-full flex items-start md:w-full px-3">
           <div class="flex items-start w-1/2 text-gray-700 px-2 mr-auto">
              <svg fill="none" class="w-5 h-5 text-gray-600 mr-1" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
              </svg>
           </div>
           <div class="-mr-1">
              <input type='submit' class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100" value='Post Comment'>
           </div>
        </div>
     </form>
  </div>
</div>
              </div>
            </div>

            <div class="border h-full w-full lg:flex-1 px-3 min-h-0 min-w-0">
              <!-- overflow content right -->
              <div
                class="bg-gray-100 w-full h-full min-h-0 min-w-0 overflow-auto rounded-lg"
              >
              <% post.commentList.forEach(comment => { %>               
                <div class="w-full h-34 mt-3">
                  <div class="flex items-center dark:bg-gray-800">
                    <div class="text-black dark:text-gray-200 p-4 antialiased flex max-w-lg">
                      <img class="rounded-full h-8 w-8 mr-2 mt-1 " src="https://images.unsplash.com/photo-1521572267360-ee0c2909d518?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"/>
                      <div>
                        <div class="rounded-3xl bg-white px-4 pt-2 pb-2.5">
                          <div class="font-semibold text-sm leading-relaxed"><%= comment.userId %> </div>
                          <div class="text-normal leading-snug md:leading-normal"
                          > <%= comment %></div>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
              <% }) %>
              </div>
            </div>
          </div>
        </section>

      </main>
    </section>
    
  </body>
</html>
